In [1]:
list1 = [100,200,300,400,500,"IOTA"]
list1.reverse()
print(list1)

['IOTA', 500, 400, 300, 200, 100]

In [27]:
list1 = ["M","na","i","IO"]
list2 = ["y","me","s","TA"]
list3 = []

for i in range(len(list1)):
    list3.append(list1[i]+list2[i])
print(list3)

['My', 'name', 'is', 'IOTA']

In [32]:
n = [1,2,3,4,5,6,7,10]

for i in n:
    print([i ** 2],end = "")

[1][4][9][16][25][36][49][100]

In [57]:
list1 = ["Hello","Take"]
list2 = ["Dear","sir"]
list3 = []

for i in list1:
    for j in list2:
        d = i + j
        list3.append(d)
        
print(list3)

['HelloDear', 'Hellosir', 'TakeDear', 'Takesir']

In [48]:
list1 = [10,20,30,40]
list2 = [100,200,300,400]

for i in list1:
    print(i)
for j in list2:
    list2.reverse()
    print(j)

10
20
30
40
100
300
300
100

In [59]:
list1 = ["Dhawan","", "Jadeja","Dhoni","","Kohali"]
list1.remove("")
print(list1)

['Dhawan', 'Jadeja', 'Dhoni', '', 'Kohali']