In [15]:
import numpy as np
import pandas as pd

In [59]:
#Create a series from a list, NumPy array, and dictionary with a minimum of 5 values in
#each?
my_list = [11,22,33,44,55]
a= pd.Series(data=my_list)

arr = np.array([11,22,33,44,55])
b = pd.Series(arr)

d = {'a': 11,'b':22,'c':33,'d':44,'e':55}
c = pd.Series(d)

print(f"From List \n{a}",f"\nFrom Array\n{b}", f"\nFrom Dict\n{c}" )

From List
0    11
1    22
2    33
3    44
4    55
dtype: int64
From Array
0    11
1    22
2    33
3    44
4    55
dtype: int32
From Dict
a    11
b    22
c    33
d    44
e    55
dtype: int64

In [21]:
arr = np.array([11,22,33,44,55])
pd.Series(arr)

0    11
1    22
2    33
3    44
4    55
dtype: int32

In [22]:
d = {'a': 11,'b':22,'c':33,'d':44,'e':55}
pd.Series(d)

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [30]:
# Give a name to the series ser calling it vowel.

df = pd.Series(list('aeiou'))
df.name = 'vowel'
df

0    a
1    e
2    i
3    o
4    u
Name: vowel, dtype: object

In [38]:
#How to get a frequency count of unique items of a series?
#Calculate the frequency counts of each unique value ser.
#Input:
#ser = pd.Series(["a","a","b","c","d","e","a","b","z"])

ser = pd.Series(["a","a","b","c","d","e","a","b","z"])
#print(ser)
print(ser.value_counts())

a    3
b    2
c    1
d    1
e    1
z    1
dtype: int64

In [39]:
#How to calculate the number of characters in each word in a series?
#Input:
#ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
dt = ser.map(lambda x: len(x))
print(dt)

0    3
1    2
2    4
3    4
dtype: int64

In [40]:
#Write a program to order a series in ascending order
#Input:
#ser_data = pd.Series({'C': 10, 'A': 5, 'D': 20, 'B': 15, 'E': 25})

ser_data = pd.Series({'C': 10, 'A': 5, 'D': 20, 'B': 15, 'E': 25})
ser_data.sort_values()

A     5
C    10
B    15
D    20
E    25
dtype: int64

In [46]:
#WAP to generate the series of dates from 1st May, 2021 to 12th May, 2021

sr = pd.date_range(start = '05-01-2021', end = '05-12-2021')
sr

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [49]:
# Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

sr = pd.Series(pd.date_range('2023-01-01',periods = 52, freq = 'w-sun'))
print("All sunday in 2023:")
sr

All sunday in 2023:

0    2023-01-01
1    2023-01-08
2    2023-01-15
3    2023-01-22
4    2023-01-29
5    2023-02-05
6    2023-02-12
7    2023-02-19
8    2023-02-26
9    2023-03-05
10   2023-03-12
11   2023-03-19
12   2023-03-26
13   2023-04-02
14   2023-04-09
15   2023-04-16
16   2023-04-23
17   2023-04-30
18   2023-05-07
19   2023-05-14
20   2023-05-21
21   2023-05-28
22   2023-06-04
23   2023-06-11
24   2023-06-18
25   2023-06-25
26   2023-07-02
27   2023-07-09
28   2023-07-16
29   2023-07-23
30   2023-07-30
31   2023-08-06
32   2023-08-13
33   2023-08-20
34   2023-08-27
35   2023-09-03
36   2023-09-10
37   2023-09-17
38   2023-09-24
39   2023-10-01
40   2023-10-08
41   2023-10-15
42   2023-10-22
43   2023-10-29
44   2023-11-05
45   2023-11-12
46   2023-11-19
47   2023-11-26
48   2023-12-03
49   2023-12-10
50   2023-12-17
51   2023-12-24
dtype: datetime64[ns]