In [1]:
num1 = int(input("Enter the number"))
num2 = int(input("Enter the number"))
operation = input("")
if operation == "+":
    print(num1+num2)

Enter the number 3
Enter the number 2
 +

5

In [2]:
a = int(input("Enter the number"))

Enter the number 3

In [3]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))
operation = ("+" "-" "*" "/")
if operation == "+":
    print(num1+num2)

Enter a number 3
Enter a number 5

In [4]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))
operation = input("+ - * /")
if operation == "+":
    print(num1+num2)
elif operation =="-":
    print(num1-num2)
elif operation == "*":
    print(num1*num2)
elif operation == "/":
    print(num1/num2)

Enter a number 34
Enter a number 43
+ - * / -

-9

In [2]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))

if num1>=num2:
    print("the largest number is","")
else:
    print("the lowest number is","")

Enter a number 2
Enter a number 2

the largest number is

In [4]:
num = int(input("Enter a number"))

if (num % 2) ==0:
    print("{0} is even number".format(num))
else:
    print("{0} is odd number".format(num))

#odd even

Enter a number 2

2 is even number

In [11]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))
num3 = int(input("Enter a number: "))
           
if (num1>=num2) and (num1>=num3):
    largest = num1
elif (num2>=num1) and (num2>=num3):
    largest = num2
else:
    largest = num3
           
print("The largest number is", largest)

Enter a number:  45
Enter a number:  12
Enter a number:  100

The largest number is 100

In [27]:
age = int(input("Enter the age"))

if (age <= 20):
    print("0_20")
elif (age >= 20) and (age <=40):
    print("The age is between 21_40")
elif (age >= 40) and (age <= 60):
    print("The age is between 41_60")
elif (age >= 60):
    print("above_60")
elif (age < 0):
    print("please enter correct age")

Enter the age 200

above_60

In [41]:
year = int(input("Enter a number"))

if (year % 400 == 0) and (year % 100 == 0):
    print("This year is a leap year")
    
elif (year % 4 == 0) and (year % 100 != 0):
    print("This is a leap year")
    
else:
    print("This year is not a leap year")

#Leap year

Enter a number 2020

This is a leap year

In [42]:
list = [1,2,3,4]

for i in list:
    print(i)

1
2
3
4

In [43]:
list = [1,2,3,4,5,6,7,8,9,10]

for i in list:
    if i%5 ==0:
        print(i)

5
10

In [46]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [52]:
list = [1, 2,4,3,5,6,7,8,9 ,100]

for num in list:
    if num % 2 == 0:
        print(num)

2
4
6
8
100

In [57]:
for i in range(1,101):
    if i % 2 == 0:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [70]:
num = int(input("Enter a number"))
factorial = 1

for i in range(1,num + 1):
    factorial = factorial * i
print("The Factorial of",num,"is",factorial)

Enter a number 5

The Factorial of 5 is 120

In [91]:
num = int(input("Enter the number"))

for i in range(2,num):
         if (num % i) == 0:
            print(num,"is not a prime number")
            break
else:
    print(num,"is a prime number")

Enter the number 9

9 is not a prime number

In [92]:
f0=0
f1=1
f2=1

number = int(input())
for i in range(number-2):
    
    f2=f1+f0
    f0=f1
    f1=f2
print(f2)

 11

55

In [93]:
#list 
list1 = [20, 30, 40]

for i in range(len(list1)):
    print(list1[i])

20
30
40

In [99]:
list1 = [20, 30, 40]

for i in range(len(list1)):
    print(i)

0
1
2

In [101]:
list1 = [20, 30, 40]
a = 50
list1.append(a)

print(list1)

[20, 30, 40, 50]

In [103]:
list1 = [20, 30, 40, 50]
a = 50
list1.clear()

print(list1)

[]

In [2]:
list1 = [20, 30]
list2 = list1.copy()

list1.append([50, 60])
print(list1)
list2.extend([70, 80, 90])
print(list2)

[20, 30, [50, 60]]
[20, 30, 70, 80, 90]

In [3]:
list2.insert(2,35)
print(list2)

[20, 30, 35, 70, 80, 90]

In [4]:
list1 = [20, 30, 40]

list1.remove(30)
print(list1)

[20, 40]

In [6]:
list1.pop()
print(list1)

[20]

In [9]:
list1 = [20, 30, 40, 50, 60]
list1[2]
list1[0:4] #slicing
list1[0:3:2]

[20, 40]

In [16]:
list1 = [10, 20, [30,[40, 50]],60]
list1[2][1].append(70)
print(list1)

[10, 20, [30, [40, 50, 70]], 60]

In [21]:
# primr number
num = int(input("Enter a number"))

for i in range (2,num):
    if (num % i) == 0:
        print(num,"is not a prime number")
        break
else:
    print(num,"is prime number")

Enter a number 23

23 is prime number

In [2]:
lower = int(input("Enter a number"))
upper = int(input("Enter a number"))

for n in range (lower, upper + 1):
    if n > 1:
        
        for i in range (2, n):
            if (n % i) == 0:
                break
        else:
            print(n)

Enter a number 20
Enter a number 30

23
29

In [3]:
list1 = [100,200,300,400,500,"IOTA"]
list1.reverse()
print(list1)

['IOTA', 500, 400, 300, 200, 100]

In [6]:
t = (2, (2,3,4),[1, 'raju'])
t[2].append("kratika")
print(t)

(2, (2, 3, 4), [1, 'raju', 'kratika'])

In [8]:
t = (1,2,34,56)
l =[]

for i in range(len(t)):
    l.append(t[-i-1])
t = tuple(l)
print(t)

(56, 34, 2, 1)

In [2]:
#Strings
s1 = "Hello"
s2 = "satish"

print(s1 + s2)

print(s1+" "+s2)

print(s1 * 3)

Hellosatish
Hello satish
HelloHelloHello

In [4]:
s1 = "Programming"
count=0
for i in s1:
    if i == "g":
        count=count+1
print(count)

2

In [6]:
s1 = input()
s2 = input()
count = 0

for i in s1:
    if i==s2:
        count=count+1
print(count)

 kratika
 i

1

In [9]:
s = "INR2000.45"

s.replace("INR2000.45","2000.45")

'2000.45'

In [1]:
#Dictionary
#my_dict = {}
#print(type(my_dict))

#my_dict = {1: 'abc' , 2: 'xyz'}
#print(my_dict)

#my_dict = {'name': 'iota',1:['abc', 'xyz']}

my_dict = {'name': 'iota','age':26,'address':'indore','courses':{'data analytics':'DA'}}

print(my_dict['courses']['data analytics'])
#print my_dict['courses']['data analytics'] = 'python'
#print(my_dict)

DA

In [2]:
my_dict = {'name':'iota','age': 26}

my_dict['subject'] = 'python'
my_dict.get('subjects','missing key')

'missing key'

In [3]:
fieldname = {'name','age','gender','mobile'}
my_dict={}

for i in fieldname:
    my_dict[i]=input(f"Enter your {i}")
print(my_dict)

Enter your mobile 7067174758
Enter your age 21
Enter your name kratika
Enter your gender female

{'mobile': '7067174758', 'age': '21', 'name': 'kratika', 'gender': 'female'}

In [8]:
#Functions
def hello(name):
    print("hello world",name)

In [9]:
hello("varun")

hello world varun

In [13]:
def add(a,b):
    """This Function adds Values"""
    """This Function return the value"""
    print(a+b)
    return a,b
    
add(20,30)

50

(20, 30)

In [15]:
l1 = ["M","na"]
l2 = ["y","me"]

l = []
for i,j in zip(l1,l2):
    l.append(i+j)
    
print(l)

['My', 'name']

In [30]:
def even_odd(x):
    if x%2 == 0:
        return x**3

In [31]:
even_odd(6)

216

In [39]:
list1 = [1,2,3,4,5,6,7,8,9]
list(filter(even_odd,list1))

[2, 4, 6, 8]

In [44]:
list1 = [1,2,3,4,5,6,7,8,9]
list(map(even_odd,list1))

[None, 8, None, 64, None, 216, None, 512, None]

In [34]:
def add(x,y):
    return x+y

In [38]:
list1 = [10,2,3,4,5,8,7]
from functools import reduce
reduce(add,list1)

39

In [45]:
a = "iota academy"
print(a[::2])

it cdm

In [46]:
str1 = "iota-academy"
print(str1.split("-"))

['iota', 'academy']

In [47]:
st = "i am 25 year old"
print(st.isdigit(),st.isalpha(),st.isalnum())

False False False

In [48]:
a = "1,2,3"
b = a.replace(",","")
b= int(b)
print(type(b))

<class 'int'>

In [49]:
#function arguments
def add (a,b):
    return(a - b)
add(100,20)

80

In [55]:
def greet(name,msg = "Good Morning"):
    print(f"Hello {name},{msg}")

greet("iota","GN")

Hello iota,GN

In [56]:
def Sum1(*Numbers):
    Sum2 = 0
    for i in Numbers:
        Sum2 += i
    return Sum2

In [58]:
Sum1(1,2,3,4,5)

15

In [14]:
#Recursion
def fact(n):
    if n == 1:
        return 1
    else:
        return n*fact(n-1)

In [15]:
fact(5)

120

In [8]:
def login_portal(count=0):
    while count < 2:
        user_id = input("Enter user name")
        password = input("Enter password")
        if user_id=="iota" and password=="indore":
            return "successfull login"
        else:
            print("wrong credentials")
            count=count+1
            return login_portal(count)

In [9]:
login_portal()

Enter user name iota
Enter password indore

'successfull login'

In [11]:
def greet(name):
    print("Good Day, "+name)
greet("kratika")

Good Day, kratika

In [12]:
d = {"maths":90,"physics":80}
print(d["maths":"computer"])

TypeError: unhashable type: 'slice'

In [39]:


def sum(n):
    if n == 1:
        return 1
    else:
        return n+sum(n-1)

In [40]:
fact(30)

465

In [18]:
#lambda fucnction
def sq(x):
    return x **2

In [19]:
square = lambda x: x**2

In [21]:
square(2)

4

In [22]:
#using function
def even(n):
    if n%2 == 0:
        return n

In [23]:
even(3)

In [24]:
lst = [1,2,3,4,5,21]

In [25]:
list(filter(even,lst))

[2, 4]

In [26]:
#with lambda function
list(filter((lambda x : (x%2 == 0)),lst))

[2, 4]

In [27]:
list(filter((lambda x : (x%2 == 0) if x > 3 else 0),lst))

[4]

In [34]:
#input:"1,000,000"
#output: 1000000

string = "1,000,000"
int(string)

ValueError: invalid literal for int() with base 10: '1,000,000'

In [43]:
If a={5,6,7}:
    a.add(5)

SyntaxError: invalid syntax (2360304933.py, line 1)

In [45]:
a = {"hello","iota",1,2,3}
b = {1,2,3,4}
set1 = a.union(b)
print(set1)

{1, 2, 3, 4, 'hello', 'iota'}

In [50]:
HOD = {"kratika","krashanu yadav","yadav"}
professor= {"krashanu yadav"}
print(professor-HOD)

set()

In [49]:
HOD = {"kratika", "krashanu yadav","rani","yadav"}
professor = {"krashanu yadav","rani"}
professor.difference_update(HOD)
print(professor)

set()

In [51]:
set1 = {10,20,30}
set2 = {60,50,20,10}

print(set1.issubset(set2),set2.issuperset(set1),sep=",")

False,False

In [52]:
set1 = {1,"PYnative",("abc","xyz"),true}
print(set1)

NameError: name 'true' is not defined

In [53]:
sampleset = {"dhoni","kohli"}
sampleset.update(["jadeja","virat"])
print(sampleset)

{'virat', 'jadeja', 'dhoni', 'kohli'}

In [55]:
set = {"dhoni","kohli"}
set.discard("virat")
print(set)

{'dhoni', 'kohli'}

In [57]:
a = np.array((1,2,3,4))
type(a)

NameError: name 'np' is not defined